
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(18, 16, 16, 0.75);
}

.modaloverlay {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 1000;
    display:flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 90vh;
    width:50vb;
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    animation: slide-down 300ms ease-out forwards;
}


#style-2::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;border-radius: 10px;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #575757;
}


.h1 {
    color: azure;
}

.h3 {
    color: rgb(255, 255, 255);
}

.p {
    color: rgb(255, 255, 255);
}