.App {
    text-align: center;
  }
  
  .maincontainer{
    height:760px;
    width:100%;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:repeat(4,1fr);
  }

  .header-area {
    grid-column-start:1;
    grid-column-end:7;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  
  .favourite-area{
    width: 100%;
    grid-column:1 /span 2;
    grid-row-start:2;
    display:flex;
    justify-content:center;
  }

  .favouritelist{
    position:fixed;
    border-radius:20px;
    border: 2px;
    border-color: rgb(78, 78, 78);
    padding: 5px;
    display:flex;
    justify-content:center;
    min-width:300px;
  }

  .list-area{
    display: flex;
    flex-wrap:wrap;
    grid-column:3 /span 6;
    justify-content: space-evenly;
  }

  .pagination{
    padding: 15px;
    grid-column:3/span 6;
    justify-content: center;
  }

  
  